html, body { 
    height: 100%; 
    background-image: url('../images/title.PNG'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
       /* Set rules to fill background */
       min-height: 100%;
       min-width: 1024px;
         
       /* Set up proportionate scaling */
       width: 100%;
       height: auto;
         
       /* Set up positioning */
       position: fixed;
       top: 0;
       left: 0;
     }
     
     @media screen and (max-width: 1024px) { /* Specific to this particular image */
      body{
         left: 50%;
         margin-left: -512px;   /* 50% */
       }
}

h1, h2, h3, h4, h5, h6 { font-family: 'Eagle Lake', cursive; }

p { 
    font-size: 1.1em; 
    font-family: 'Raleway', sans-serif;
    color: #000;
}

footer { position: sticky; top: 100%; }

.bg-filter {
    background: #ffffff66; 
}

.chat-log { 
    height: 400px;
    overflow-y: scroll;
}

#bottom{
    margin-top: 50px;
}
#top.parts{
    background-color: aqua;
    /* height: 400px;
    margin-top: 50px; */
}

#one{
    height: 100px;
    width: 100px;
    background:transparent;
    color: white;
}
 #two{
  height: 100px;
  width: 100px;
 margin-top: 5px;
 background:transparent;
 /* background-color: blue;  */
}
 #three{
    height: 100px;
    width: 100px;
    background:transparent;
    margin-top:5px;

}
#four{
    height: 100px;
    width: 100px;
    background-color:fuchsia ;
    margin-top: 5px;

}
.card-title{
    text-align: left;
    color: white;
}
.card-body{
    text-align: center;
}

#nextPage {
    margin-left: 85%;
    position: fixed;
    bottom: 3px;
}

.nextPageBtn {
    background-image: url('../images/title.PNG');
    color: white;
    background-color: #004A7F;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;

}

@-webkit-keyframes glowing {
    0% {
        background-color: #B20000;
        -webkit-box-shadow: 0 0 3px #B20000;
    }

    50% {
        background-color: #FF0000;
        -webkit-box-shadow: 0 0 40px #FF0000;
    }

    100% {
        background-color: #B20000;
        -webkit-box-shadow: 0 0 3px #B20000;
    }
}
@-moz-keyframes glowing {
    0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  }
  
  @-o-keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  }
  
  @keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  }