html, body {
    height: 100%;
/*     background-image: url("../images/trianglify.svg") */
    background-color: palegoldenrod;
}

* {
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Comfortaa', cursive; */
    /* font-family: 'ABeeZee', sans-serif; */
    /* font-family: 'Poiret One', cursive; */
}

header, footer {
    text-align: center;
    background-color: #ffffff44;
}

footer {
    position: sticky;
    top: 100%;
}

#display {
    border: 1px solid red;
}

.modalPic {
    height: 150px;
    width: auto;    
}

#v-11 {
    border-radius: 10px;
}